.list-element {
    /* border: 1px black solid; */
    margin: 3%;
    margin-bottom: 2%;
    padding: 1%;
    display: flex;
    flex-flow: row nowrap;
    width: 25%;
    justify-content: space-between;
    font-size: 160%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0 0 5px gray, 0 0 5px black;
    border-radius: 10%;
    justify-content: center;
    text-align: center;
}

.list-element:hover {
    outline: 2px black solid;
    transform: scale(1.2);
    transition-delay: 100ms;
}

.song-link {
    text-decoration: none;
}

.song-image {
    width: 120%;
    border: 1px solid black;
    position: relative;
    right: 10%;
    top: 10%;
}

.list-element-data {
}

.list-element-image {

}

.song-ranking {
    font-size: 200%;
}
